/*#0e0b16
#a239ca
#4717f6
#e7dfdd*/

:root {
  --side-bar-bg-color: #181818;
  --main-conent-bg-color: #292929;
  --nav-item-color: #cecece;
  --header-color: #08fdd8;
  --subheader-color: #ff00ec;
  --text-color: #cecece;
}


body {
	margin: 0px;
  	font-family: 'Ubuntu Condensed', sans-serif;

}

.grid-container {
	display: grid;
	grid-template-columns: 25vw auto;
}

a {
	color: inherit;
}

.side-bar {
	background-color: var(--side-bar-bg-color);
	position: sticky;
	top: 0;
	display: grid;
    grid-template-rows: 40vh 40vh 10vh 10vh;
 	
}

.nav-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.nav-button {
	height: 35px;
	margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--nav-item-color);
    font-size: 1em;
}

.main-content {
	background-color: var(--main-conent-bg-color);
	padding: 4em;
}

.headshot {
	padding: 1em;
}


.headshot > img {
	border-radius: 50%;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
	color: var(--header-color);
}

h2 {
	color: var(--subheader-color);
}

.text {
	color: var(--text-color);
}

.contact-list {
	color: var(--text-color);
}

.contact-list > dt {
	display: block;
    float: left;
    clear: both;
    width: 150px;
    margin-bottom: 20px;
}

.contact-list > dd {
	display: block;
    float: left;
    margin: 0;
    margin-bottom: 20px;
}

i {
	padding-right: 5px;
}
 	
.sidebar-name {
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.sidebar-header {
	text-align: center;
	font-size: 1.2em;

}

.sidebar-controls {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: var(--nav-item-color);

}

.social-media-icons {
	display: flex;
    justify-content: center;
    color: var(--nav-item-color);
}

.fa {
	padding-left: 0.5em;
	padding-right: 0.5em;
}