/*#0e0b16
#a239ca
#4717f6
#e7dfdd*/

:root {
  --side-bar-bg-color: #0e0b16;
  --main-conent-bg-color: #292929;
  --nav-item-color: #4717f6;
}


body {
	margin: 0px;
}

.side-bar {
	width: 65px;
	height: 100%;
	background-color: var(--side-bar-bg-color);
	position: fixed;
}

.nav-container {
	height: calc(100vh - 65px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-button {
	width: 100%;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav-item-color);
    font-size: 15px;
}

.nav-button > img {
	width: 50%;
	display: block;
}

.nav-svg {
	stroke: var(--nav-item-color);
	fill: var(--nav-item-color);
}

.main-content {
	padding-left: 140px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: var(--main-conent-bg-color);
	height: 100vh;
}

.headshot {
	width: 100%;
}